
html { height: 101%; }
body { 
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

input, textarea { 
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; 
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

.center{
  width: 100%;
}
.flatbtn-blu { 

  display: inline-block;
  outline: 0;
  border: 0;
  width: 100%;
 color: #ef2322;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: bold;
  padding: 12px 26px 12px 26px;
  line-height: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #ffffff;


}
.flatbtn-blu:hover {
  color: #ffffff;
  background-color: #ef2322;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#sendMes {
  width: 900px;
  height: 590px;
  background: #ffffff;
  padding: 10px 20px;
  top: 0px !important;
  
}
.sendText{
  height: 400px;
}
.titl{
  width: 100%;
  height: 40px;
  border: 1.5px #c1c1c1 solid;
  margin-bottom: 10px;
  color: #ef2322;
  font-size: 18px;
  padding-left:5px; 
}
.contText{
  width: 500px;
  height: 375px;
  float: left;
  margin-right: 10px;
  border: 1.5px #c1c1c1 solid;
  color: #ef2322;
  font-size: 18px;
  padding-left:5px; 
  font-weight: 600px;
}
.contectL{
  width: 390px;
  height: 40px;
  border: 1.5px #c1c1c1 solid;
  color: #ef2322;
  font-size: 18px;
  float: left;
  padding-left:5px; 
}
.sentImgL{
  margin-top: 10px;
  width: 390px;
  height: 190px;
  border: 1.5px #c1c1c1 solid;
  float: left;
  color: #ef2322;
  font-size: 18px;
  font-weight: 600;
  padding-left:5px; 
}
.txtfield { 
  display: block;
  width: 100%;
  padding: 6px 5px;
  margin-bottom: 15px;
  font-family: 'Helvetica Neue', Helvetica, Verdana, sans-serif;
  color: #b5b5b5;
  background-color: #fff;
  border: 1px #b5b5b5 solid;
}
.txtfield:focus {
  outline: none;
  color: #525864;
  border-color: #84c0ee;
}
.hide span,.addition span{
  border: 1px #333 solid;
  height: 12px;
  width: 11px;
  display: block;
  float: left;
  margin-right: 5px;
}
.sentNote{
  width: 390px;
  float: left;
}
*{margin: 0;}
.hide{
  height: 30px;
  padding-top: 21px;
}
.sentNote div{
  width: 100%;
}
.hide p{
  font-size: 16px;
  float: left;
  height: 27px;
  line-height: 12px;
  text-align: center;
}
.addition span{margin-top: 2px;}
.addition p{
  line-height: 20px;
  height: 45px;
}
.care{
  color: #c1c1c1;
  font-size: 14px;
}
.sendBut{
}
#sentAct{margin-top: 10px;}
#sentAct,#save{
  width: 100%;
  color: #ef2322;
  height: 40px;
  background-color: #fff;
  font-size: 18px;
  border-width: 0;
}
#save{
   color: #ef2322;
   background-color: #fff;
}
#sentAct{
  background: #ef2322;
  color: #fff;
  margin-bottom: 5px;
}
#save:hover{
  color: #fff;
  background-color: #ef2322;
}

